.subscription-form-lable {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.subscription-form-input {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    align-items: center;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-right: 12px;
}

.subscription-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-next-color);
    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
&::after {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    content: '';
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon-send.svg');
    background-size: contain;
}
}
.subscription-form-title {
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-next-color);
    margin-bottom: 20px;
}