
.subscription-form {
    @media screen and (min-width: $desktop) {
    margin-left: auto;
        
}

.subscription-form-title {
    
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    color: var(--white-next-color);
    
    @media screen and (min-width: $desktop) {
        text-align: start;
        margin-bottom: 0;
    }
}

.subscription-form-lable {
    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
    }
}

.subscription-form__input {
    display: block;
    height: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    
    background-color: transparent;
    
    @media screen and (min-width: $mobile) {
        width: 450px;
    }
    
    @media screen and (min-width: $desktop) {

        width: 358px;
        margin: 0;
    
    }
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    }

.subscription-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-next-color);
    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $desktop) {
    margin-left: 12px;
    }
&::after {
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    content: '';
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url('../images/icon-send.svg');
    background-size: contain;
}
}

}