.modal>strong {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    outline: none;
    border: 1px solid var(--logo-color);
}
&:hover~.form-name-icon,
&:focus~.form-name-icon {
    fill: var(--logo-color);
}
}

.label-title {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--context-color);
}

.modal-form-message {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    outline: none;
    border: 1px solid var(--logo-color);
}
&::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
}

.user-message {
    margin-top: 20px;
}

.form-icon-title {
    position: relative;
}

.form-name-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-bottom: 25px;
    justify-content: center;
&::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #555555;
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
    
    .checkbox-form:checked+& {
    display: block;
    background-image: url('../images/icon-check.svg');
    background-color: var(--logo-color);
    background-size: contain;
    background-origin: border-box;
    border: none;
    }
    .checkbox-form:focus+& {
        outline: 1px solid var(--logo-color);
    }
}
}

label>a {
    color: var(--logo-color);
}

/* Кнопка модальной формы */
.btn-modal {
    display: block;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 50px;
    background: var(--logo-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    line-height: 1.87;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--white-next-color);
&:hover,
&:focus {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);
}
}

