.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000033;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
&.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}



.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: var(--white-next-color);
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid #555555;
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
&:hover,
&:focus {
    fill: var(--logo-color);
}
}