/* Секция Наша команда */
.team {
    padding-top: 94px;
    background-color: var(--team-bg-color);
}

.team-list {
    display: flex;
}

.team-item {
    list-style-type: none;
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-next-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
&+.team-item {
    margin-left: 30px;
}
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
}

.our-team {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-item-network {
    display: flex;
    margin-top: 16px;
}


.team-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    fill: var(--white-next-color);
    background-color: var(--logo-color);
}
}
.team-item-network-item:not(:last-child) {
    margin-right: 10px;
}

.team-item-pas {
    display: block;
    margin: auto;
    background-position: center;
}
.conteiner-network {
    margin: 0 32px 0 32px;
}