.port-list {
    @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1*30px);
    margin-top: calc(-1*30px);
}    
}
.port-our-work {
    @media screen and (max-width: 1199px) {
        padding: 60px 0;
    }

}

.port-item {
    margin-bottom: 30px;
    
    @media screen and (min-width: $tablet) {
    flex-basis: calc(100%/2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    
}
    
    @media screen and (min-width: $desktop) {
    flex-basis: calc(100%/3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    
}    
}

.port-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
&:hover .overlay,
&:focus .overlay {
    transform: translateY(0);
}
}
.port-bord {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.img-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    background-color: #2196f3e5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px 51px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: start;
    color: #ffffff;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-list a {
    text-decoration: none;
}

.port-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 3.98px;
    @media screen and (min-width: $tablet) {
    font-size: 16px;
    }

}

.port-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--context-color);
}